test.py
test_db.py
historial_de_cambios.md
update_theme.sh
.*
__pycache__
neo_esccan.log
/chdkptp.py
config.ini
/escan_env
/test
deprecated*
db/neoscan_db - copia.db
db/neo_escan_test.db
tempCodeRunnerFile.py
db/neo_escan.db
db/neoscan_db.db
*.log